      body {
        font-family: Georgia, serif;
        font-size: 100%;
        line-height: 175%;
        margin: 0 15% 0;
        background: #d2dc9d;
        /*background-image: url(images/bullseye.png);*/
        background-position: center 100px;
        background-image: url(images/blackgoose.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      #header {
        margin-top: 0;
        padding: 3em 1em 2em 1em;
        text-align: center;
        background: rgba(255,255,255,0.5);
        background-image: url(images/purpledot.png);
        background-repeat: repeat-x;
        background-position: top;
      }

      a {
        text-decoration: none;
      }
        a:visited{
            color: #993399;
        }
        a:hover{
            color: #c700f2;
            background: #fff;
        }
        a:active{
            color:#ff00ff;
            background: #fff;
        }

      h1 {
        font: bold 1.5em Georgia, serif;
        text-shadow: .1em .1em .2em gray;
        color: #993399;
      }
      h2 {
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: .5em;
        text-align: center;
        color: #cc6600;
      }
      dt {
        font-weight: bold;
      }
      strong {
        font-style: italic;
      }
      ul {
      	list-style-type: none;
      	margin: 0;
      	padding: 0;
      }
      #info p {
        font-style: italic;
      }
      .price {
        font-family: Georgia, serif;
        font-style: italic;
      }
      p.warning, sup {
        font-size: small;
      }
      .label {
        font-weight: bold;
        font-variant: small-caps;
        font-style: normal;
      }

      h2 + p {
        text-align: center;
        font-style: italic;
      }
